/**Footer Style for all pages**/
#footer{
    background-color: black;
    bottom: 0em;
    color: white;
    position: fixed;
    text-align: left;
    width: 100%;
    
}
/**End Footer**/

/**Style content for index page**/
#indexContent ul{
    font-size: 2em;
    list-style: none;
    text-align: center;
    padding-left: 0;
    padding-top: 20%;
    position: relative;
    vertical-align: middle;
}

/**Main Content**/
#mainContent{
    color: white;
    margin: auto;
    padding: 1em;
    text-align: center;
    width: 100%;
}

#mainContent #description{
    margin: 0 auto;
    margin-bottom: 1em;
    width: 30em;
}
#mainContent article{
    display: inline-grid;
    height: auto;
    width: 30em;
    margin:0 1em;
}
#mainContent div{
    float: left;
    margin-right: 2em;
    margin-top: 1em;
    margin-left: 2.3em;
    width: 30em;
}
#mainContent form{
    text-align: left;
}
#mainContent #game{
    text-align: center;
}
#mainContent h1{
    margin-top: 1em;
}
#mainContent h2{
    height: 1em;
}
#mainContent li{
    margin: 0.5em 1em;
}
#mainContent ul{
    list-style: none;
    text-align: left;
}

/**End of Main Content**/

/**Navigation Style for all pages**/
#navigationBar{
    font-size: 1.3em;
    position: relative;
    text-align: center;
}
#navigationBar #title{
    font-size: 1.5em;
}
#navigationBar a:hover{
    color:grey;
}
/**In line inspired by W3 Schools:https://www.w3schools.com/css/tryit.asp?filename=trycss_inline-block_nav**/
#navigationBar li{
    display: inline;
    padding-left: 3em;
    padding-right: 3em;
}
#navigationBar ul{
    padding: 0;
    position: relative;
}
/**End Navigation**/

/**Link style for all pages**/
a:link, a:visited{
    color: white;
    text-decoration: none;
}
body {
    background-color: black; 
}