#footer{
    bottom: 0em;
    position: fixed;
}
/**Inspired by W3 Schools: https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_black_right**/
#navigationBar{  
    font-size: 1.75em;
    list-style: none;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
}
#navigationBar a:hover{
    color:grey;
}
#navigationBar li{
    display: inline;
    margin: 1em;
    padding: 1em;
}
a:link, a:visited{
    color: black;
    text-decoration: none;
}



