/**Flex tutorial from https://css-tricks.com/snippets/css/a-guide-to-flexbox/**/
/**Footer Style for all pages**/
.footer{
    background-color: black;
    bottom: 0em;
    color: white;
    position: fixed;
    text-align: left;
    width: 100%;
    
}
/**End Footer**/

/**Style content for index page**/
.pageLogo{
    width: 70%;
    text-align: center;
    padding-top: 6em;
    padding-bottom: 6em;
}
.pageLogoImg{
    height: auto;
    width: 100%;
}

/**Main Content**/
.article{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;  
}
.leftForm{
    text-align: left;
}

.mainContent{
    padding-top: 1em;
    color: white;
    text-align: center;
    width: 100%;
}
.noStyleRegularList{
    list-style:none;
    padding-left:0;
}
.pageTitle{
    margin: 0em;
    padding-bottom: 1em;
}
.summary{
    width:30em;  
}
/**End of Main Content**/

/**Navigation Style for all pages**/
.horUlNav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 0;  
}
.mobileExpanded{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 0;
}
.mobileExpandedLi{
    width: 10em;
    border: none;
}
.navExpander{
    display: none;
}
.navMobileSpacer{
    display: none;
}
.navTitle{
    font-size: 1.5em;
    width: 12em;
    
}
.navTitleExpanded{
    border: none;
}
.navigationBar{
    font-size: 1.3em; 
    text-align: center;
    width: 100%;
    border: solid;
    border-color: white;
    border-width: 0 0 1px 0;
    background-color: #222222;
    padding-top: 0.10em;
}
.navigationBar a:hover{
    color:grey;
}
.normalLiNav{
    width: 10em;
}
@media screen and (max-width: 800px){
    .horUlNav{
        align-items: baseline;
    }
    .mobileExpanded{
        flex-direction: column;
    }
    .mobileExpandedLi{
        display: flex;
        padding: 0.5em;
    }
    .navExpander {
        display: flex;
        width: 2em;
        height: 1em;
    }
    .expandImg{
        width: 100%;
        height: 100%;
    }
    .navMobileSpacer{
        display: flex;
        visibility: hidden;
        width: 33px;
        order: -2;
    }
    .navTitle{
        font-size: 1.5em;
        width: 8em;
        order: -1;
    }
    .navTitleExpanded{
        font-size: 1.5em;
        width: 8em;
        order: -1;
        border: solid;
        border-color: white;
        border-width: 0 0 1px 0;
    }
    .normalLiNav {
        display: none;
    }
    .pageTitle{
        font-size: 3em;
    }
}
/**
@media screen and (orientation: portrait){
    .horUlNav{
        align-items: baseline;
    }
    .leftForm{
        text-align: center;
    }
    .mobileExpanded{
        flex-direction: column;
    }
    .mobileExpadedLi{
        display: flex;
        padding: 0.5em;
        font-size: 2em;
    }
    .navExpander {
        display: flex;
        width: 2em;
        height: 1em;
    }
    .expandImg{
        width: 100%;
        height: 100%;
    }
    .navMobileSpacer{
        display: flex;
        visibility: hidden;
        width: 33px;
        order: -2;
    }
    .navTitle{
        font-size: 1.5em;
        width: 70%;
        order: -1;
    }
    .navTitleExpanded{
        font-size: 1.5em;
        width: 70%;
        order: -1;
        border: solid;
        border-color: white;
        border-width: 0 0 1px 0;
    }
    .normalLiNav {
        display: none;
        width: 14em;

    }
    .summary{
        width: 100%;
        font-size: 1.5em;
    }
    .pageLogo{
        width: 80%;
    }
    .pageTitle{
        font-size: 3em;
    }
    

}
@media screen and (max-width: 480px){
    .summary{
        width: 100%;
    }
    .pageLogo{
        width: 80%;
    }
}**/
/**End Navigation**/

/**Slideshow**/
.hide{
    display: none;

}
.show{
    display: flex;
    
}
.image{
    width: 100%;
    height: 100%;
}
/**Link style for all pages**/
a:link, a:visited{
    color: white;
    text-decoration: none;
}
/**Overall page style**/
body {
    background-color: black; 
    font-family: tahoma, sans-serif;
    margin:0;
}